{% extends "base.html" %}
{% block nav_links %}
  <a class="nav-link" href="{{ url_for('kayak_info') }}">Status</a>
  <a class="nav-link" href="{{ url_for('maps') }}">Maps</a>
  <a class="nav-link active" href="{{ url_for('about') }}">About</a>
{% endblock %}
{% block main %}
  <h1 class="cover-heading">About This Site</h1>
  <br />
  <p class="lead">This website is for informational purposes only.</p>
  <p class="text-left">Basically, I wanted a quick and convenient way to check on water levels on a river that I frequently kayak near my house, the Harpeth River, in Tennessee. I realize that this is probably only useful to literally dozens of people, but it's tricky to factor in all statistics that go into making these very non-scientific guesstimates based on the cubic feet of discharged water per second, coupled with gage height.</p>
  <p class="text-left">You can see if your river of interest will work on this website by appending the USGS Site Number to the end of the URL, e.g. <code>https://canikayak.com/03432350</code></p>
  <p class="text-left"><a class="underlined" href="https://waterdata.usgs.gov/nwis/inventory" target="_blank">You can look up Site Numbers at the USGS here</a>. Keep in mind it has to have gage and discharge data, and even then, it still may not parse correctly.</p>
  <p class="text-left">If you're nerdy and/or technical, you can <a class="underlined" href="https://github.com/ehamiter/canikayak">check out the source code here</a>.</p>
  <p class="text-left font-italic">Photo by Carl Heyerdahl on Unsplash</p>
{% endblock %}
