<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Information for the Harpeth River in Bellevue, Tennessee">
    <meta name="author" content="Eric Hamiter">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icons/apple-touch-icon.png') }}" />

    <title>Can I Kayak?</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cover.css') }}">

  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Can I Kayak?</h3>
          <nav class="nav nav-masthead justify-content-center">
            {% block nav_links %}
              <a class="nav-link active" href="{{ url_for('kayak_info') }}">Status</a>
              <a class="nav-link" href="{{ url_for('maps') }}">Maps</a>
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            {% endblock %}
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        {% block main %}
          <h1 class="cover-heading">{{ site_name }}</h1>
          <br />
          <p class="lead">{{ discharge_info }} (Discharging at {{ discharge }} ft&sup3; per second)</p>
          <p class="lead">{{ gage_info }} (Gage height of {{ gage }} ft)</p>
        {% endblock %}
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Made with ❤️ by <a href="https://erichamiter.com/">Eric Hamiter</a></p>
        </div>
      </footer>
    </div>

  </body>
</html>
